# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Swift build artifacts
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Temporary & cache
DoraApp_bin
scratch/
.scratch/
*.swp
*~
